# Uygulama yapılandırması
PORT=8080
NODE_ENV=development

# Turso veritabanı (Cloud Run'da Secret Manager ile sağlanacak)
TURSO_DATABASE_URL=libsql://namazvaktimdb-1453-osm.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9...

# Diğer opsiyonel yapılandırmalar
LOG_LEVEL=info
CORS_ORIGINS=* 
